.roomActiveModal {
    width: 30%;
    height: 50%;
}

.roomModal {
  display: none;
}

.wrapperModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    z-index: 100000;
}

  
  