.wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
}

.table-top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.empty-corner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  /* border: 1px solid black; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  /* background: rgb(76, 38, 143); */
  color: rgb(153, 238, 180);
  text-align: center;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  animation: opening 0.8s ease-in-out;
}

/* @keyframes opening {
  0% {
    background-color: rgba(35, 146, 191, 0.1);
    width: 10%;
  }
  25% {
    background-color: rgba(35, 146, 191, 0.3);
    width: 20%;
  }
  50% {
    background-color: rgba(35, 146, 191, 0.5);
    width: 30%;
  }
  75% {
    background-color: rgba(35, 146, 191, 0.7);
    width: 40%;
  }
  100% {
    background-color: rgba(35, 146, 191, 0.9);
    width: 50%;
  }
} */

.day {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(36, 79, 153)  ;
  border: 2px solid white;
  font-size: large;
  color: white;
}

.table-bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.table-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  width: 20%;
  height: 100%;
  /* border: 1px solid black; */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  border-radius: 10px;
  /* background: rgb(36, 79, 153); */
  color: rgb(153, 238, 180);
  text-align: center;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  animation: numbers 0.8s ease-in-out;
}

/* @keyframes numbers {
  0% {
    background-color: rgba(35, 146, 191, 0.1);
    width: 4%;
  }
  25% {
    background-color: rgba(35, 146, 191, 0.3);
    width: 8%;
  }
  50% {
    background-color: rgba(35, 146, 191, 0.5);
    width: 12%;
  }
  75% {
    background-color: rgba(35, 146, 191, 0.7);
    width: 16%;
  }
  100% {
    background-color: rgba(35, 146, 191, 0.9);
    width: 20%;
  }
} */

.table-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.day-hour {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(36, 79, 153)
}

.timetable-div {
  box-sizing: border-box;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.8);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opening 0.8s ease-in-out;
}
.timetable-activ-Elen {
  border: 1px solid white;
  background-color: rgb(36, 79, 153);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.timetable-activ-Rafayel {
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(36, 79, 153);

}
.timetable-activ-Avet {
  border: 1px solid white;
  background-color: rgb(36, 79, 153);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.timetable-activ-Vrezh {
  border: 1px solid white;
  background-color: rgb(36, 79, 153);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.timetable-activ-Mher {
  border: 1px solid white;
  background-color: rgb(36, 79, 153);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.timetable-activ-Gago {
  border: 1px solid white;
  background-color: rgb(36, 79, 153);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.timetable-activ-Norayr {
  border: 1px solid white;
  background-color: rgb(36, 79, 153);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.timetable-activ-Eduard {
  border: 1px solid white;
  background-color: rgb(36, 79, 153);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
