.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid red;
  text-align: center;
  height: 100vh;
}

.table-top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid yellow;
  height: 20%;
}

.empty-corner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  border: 1px solid black;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
  height: 100%;
  width: 80%;
}

.day {
  width: 20%;
  border: 1px solid teal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
  height: 80%;
}

.table-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(219, 50, 54);
  width: 20%;
  height: 100%;
}

.table-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 100%;
  border: 1px solid orangered;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 80%;
  height: 100%;
}

.day-hour {
  border: 1px solid orchid;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timetable-div {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Elen {
  border: 1px solid black;
  background-color: rgb(120, 46, 48);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Rafayel {
  border: 1px solid black;
  background-color: rgb(244, 194, 13);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Avet {
  border: 1px solid black;
  background-color: rgb(60, 186, 84);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Vrezh {
  border: 1px solid black;
  background-color: rgb(219, 50, 54);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Mher {
  border: 1px solid black;
  background-color: rgb(72, 133, 237);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Gago {
  border: 1px solid black;
  background-color: rgb(65, 120, 46);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Norayr {
  border: 1px solid black;
  background-color: rgb(143, 205, 195);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable-activ-Eduard {
  border: 1px solid black;
  background-color: rgb(143, 147, 147);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timetable-div:hover {
  background-color: rgb(66, 133, 244);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  transform: scale(1.01);
}
