.lecturers-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.lecturers {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
  padding: 2%;
  padding-bottom: 2%;
}
.lecturers > a {
  width: 30%;
  height: 70%;
  border-radius: 25%;
}
