.wrapperClasslist {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}
.create-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  width: 70%;
  height: 12%;
  transition: 0.5s;
  color: white;
  cursor: pointer;
  font-size: 30px;
  border-radius: 20px;
}
.create-button:hover {
  width: 75%;
  height: 15%;
  font-size: 35px;
  background-color: rgb(36, 79, 153);
}
