.home-page {
  width: 100vw;
  height: 100vh;
  background: url("./../../assets/bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-button {
    display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  width: 20vw;
  height: 5vh;
  margin: 10px auto;
  transition: all 0.2s ease-in-out;
  background-color: white;
  color: rgba(72, 133, 237, 1);
  cursor: pointer;
  font-size: 30px;
}

.login-button:hover {
  transform: scale(1.01);
  background-color: rgba(72, 133, 237, 1);
  color: white;
}
