.students-list-in-faculty {
  display: flex;
  flex-direction: column;
  width: 74vw;
  height: 25vh;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.student-name-in-faculty {
  color: black;
  width: 10vw;
  color: white;
  border-radius: 2px;
  font-size: large;
}

.faculty-timetable {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1%;
}

.faculty-timetable h1, .faculty-timetable h2, .faculty-timetable h3 {
    color: white;
}
