.singleLecturer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lecturer-info {
  border: 2px solid rgba(35, 146, 191, 1);
  width: 50vw;
  height: 30vh;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  background: rgb(76, 38, 143);
  color: rgb(153, 238, 180);
  animation: card-bg 0.8s ease-in-out;
}

.lecturer-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: auto;
  font-size: 24px;
  color: white;
  animation: font-size 0.8s ease-in-out;
}

.lecturer-img {
  max-width: 200px;
  height: 19vh;
}
